<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #ffffff;
      }
    </style>
    <title>LED_Controller</title>
  </head>
  <body>
    <h2>Wi-Fi Config</h2>
    <form action="/post" method="post">
        <label for="ssid">SSID:</label>
        <input type="text" id="ssid" name="ssid" value="" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="" required>

        <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>